.detail {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.detail__item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.detail__item {
  border: 1px solid #1c8696;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  color: #1c8696;
  width: 144px;
}

.catch-btn {
  background-color: #36cea7;
  color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.catch-btn:hover {
  background-color: rgb(53, 148, 116);
}

.catch-btn--head {
  display: none;
  border-radius: 8px;
  max-width: 160px;
  margin: 0 auto;
}

.catch-btn__title {
  margin: 8px 0;
}

.catch-btn--bottom {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
}

.nickname {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  text-align: center;
  margin: 20px 0;
  font-size: large;
}

.nickname:focus {
  outline: none;
}

@media screen and (min-width: 600px) {
  .catch-btn--head {
    display: flex;
  }
  .catch-btn--bottom {
    display: none;
  }
}

@media screen and (min-width: 1264px) {
  .detail {
    display: flex;
    flex-wrap: wrap;
  }

  .head {
    width: 25%;
  }

  .body {
    width: 75%;
  }
}
