* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  padding: 56px 0 80px;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #45686e;
}

p {
  margin: 0;
  padding: 0;
}

.error-msg {
  text-align: center;
  margin: 100px auto 0;
}

.text--capitalize {
  text-transform: capitalize;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.pokemon-item-container {
  width: 100%;
  padding: 8px;
  text-align: center;
}

.pokemon-item {
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  background-color: #ffdb9e;
  box-shadow: 0 6px #999;
}

.pokemon-item:hover {
  background-color: rgba(255, 219, 158, 0.6);
}

.pokemon-name {
  font-weight: 500;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  visibility: hidden;
}

.overlay--visible {
  visibility: visible;
}

/* Modals */
.modal {
  position: fixed;
  background: #fff;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  text-align: center;
  box-shadow: 0 0 8px 1px #333;
  border-radius: 8px;
  max-width: 360px;
  display: none;
}

.modal--open {
  display: block;
}

.modal__title {
  color: #45686e;
}

.modal__btn {
  display: inline-block;
  background-color: #36cea7;
  padding: 12px;
  margin: 0 12px 20px;
  width: 100px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 3px #999;
}

.modal__btn:hover {
  background-color: #3de0b6;
}

@media screen and (min-width: 280px) {
  .pokemon-item-container {
    width: 50%;
  }
}

@media screen and (min-width: 360px) {
  .pokemon-item-container {
    width: 33.33%;
  }
}

@media screen and (min-width: 720px) {
  .pokemon-list {
    max-width: 640px;
  }

  .pokemon-item-container {
    max-width: 160px;
  }
}

@media screen and (min-width: 960px) {
  .App {
    margin-left: 240px;
  }

  .overlay {
    visibility: visible;
    background: transparent;
    width: 0;
  }
}
