.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #bbffaa;
  color: #45686e;
  font-size: large;
  justify-content: space-between;
  transition: 0.5s;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.nav__icon {
  margin: 0 8px;
  cursor: pointer;
}

.sidenav {
  background-image: linear-gradient(#d0ffc4, #fff 50%);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(-100%);
  transition: 0.5s;
  max-width: 240px;
}

.sidenav--open {
  transform: translateX(0);
}

.sidenav__links {
  padding: 28px;
  display: flex;
  align-items: center;
  opacity: 0.7;
}

.sidenav__links:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidenav__links.active {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.sidenav__icon {
  margin-right: 12px;
}

.sidenav__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.sidenav__header {
  padding: 20px;
  text-align: center;
}

.sidenav__title {
  font-weight: 500;
}

.sidenav__author {
  font-size: 14px;
}

@media screen and (min-width: 960px) {
  .nav {
    left: 240px;
  }

  .nav__icon--hidden {
    visibility: hidden;
  }

  .sidenav {
    transform: translateX(0);
  }
}
